body {
    height: 100%;
    margin: 0;
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    width:100%;
}
h1 {
    font-size: 3.2em;
    color: white;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    /*position: absolute;*/
    /*width: 200px;*/
    /*height: 100px;*/
    top: 80px;
    left: 26%;
    /*margin-left: -100px;*/
}
/*img {*/
/*	width: 30%;*/
/*	float: left;*/
/*	margin: 1.66%;*/
/*}*/


img{
    /*height: 250px;*/
    width: 30%;
    height:auto ;
    /*height-max: 25%;*/
    /*width: 250px;*/
    margin-top:5px;
    /*border-radius: 50% 50% 50% 50%;*/
    float:left;
    margin-left: 1.66%;
    margin-right: 1.66%;
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
img:hover,
img:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.images{
    margin: 0 auto;
}